<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .box{
        margin: 20px;
        height:150px ;
        width: 150px;
        display: inline-block;
    }
    .container{
        text-align: center;
    }
    
</style>
<body>
    
    <div class="container">
        <h1>Welcome</h1>
        {% for x in range (num) %}
    
        <div class="box" style="background-color: {{color}};"></div>
    
        {% endfor %}
    </div>
</body>
</html>